doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      nav
        ul 
          li
            a(href="/login") Login
          li
            a(href="/user/new") Sign up
    block content
    footer
