extends layout

block content
  h1 Add Podcast XML Feed
  form(name="add-podcast", method="post")
      div.input
          span.label RSS Url
          input(type="text", name="rssUrl")
      div.actions
          input(type="submit", value="add")